<div class='host'>
  <div #mapHost class='map'></div>
  <div class='control'>
    <div>
      <mat-form-field>
        <mat-select placeholder='Filter Routes' [formControl]='routesControl' [ngModel]='filteredRoutes' (selectionChange)='onFilterChange($event)' multiple>
          <mat-option *ngFor='let route of routes' [value]='route'>
            <div class='filter-item'>
                {{route.title}}
            </div>
            <div class='filter-item route-color' [style.backgroundColor]='route.color'></div>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-checkbox [ngModel]='showStops' (change)='onCheckboxChange($event)' color='primary'>Show Stops</mat-checkbox>
    </div>
  </div>
</div>
